{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date"><p>Published : {{post.published_date}}</p></div>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|lower }}</a></h2>
        <p>{{ post.text|linebreaksbr|title }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
    </div>
{% empty %}
    <div>요청하신 Post가 존재하지 않습니다</div>
{% endfor %}
{% endblock %}